

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@font-face {
  font-family: black_ops;
  src: url(BlackOpsOne-Regular.ttf);
}


body{
  background-color: #110f16;
}
  .header {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #110f16; /* semi Black background */
    height: 22vh;
    z-index: 1;
    opacity: 1;
    overflow: hidden;
  }
  
  .title1{
    position: absolute;
    left: 10vw; /* chnaged from 10vw*/
    color: white;
    font-size: 7%;
    font-family: 'black_ops';
    z-index: 5;
    max-width: 30vh; /* changed from 50vh*/
    height: 8vw;
    margin-top: -0.5%;
    margin-left: 8.55%;
    
  }
.title1:hover{
  color: red;
}
.subtitle{
  font-size: 10%;
  margin-left: 1%;
  margin-top: 2%;
}
.title1{
  display: inline-flex;
}

.title1 .subtitle{
  margin-top: 2%;
  font-size: 4.5%;
  margin-left: 2%;
}
.title1 .subtitle :hover{
  color: red;
}



.title1{
  font-size: 14vh;
  display: inline-flex;
}


.title1 .subtitle{
  margin-top: 2vw;
  font-size: 4.5vw;
  margin-left: 2vw;
}

.title1 .subtitle :hover{
  color: red;
}



/*ATV
.title101
{
  height: 150px;
  width: 600px;
  margin-left: 45vh;
}*/

  .top-nav {
    top: 8vh;
    position: relative;
    display:flex;
    justify-content: center;
  }
  
  .top-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;

  }
  
  .top-nav ul li {
    display: inline-block;
    margin: 2vw;
  }
  
  .top-nav ul li a {
    font-family: 'Exo 2', sans-serif;
    display: block;
    padding: 2vw;
    color: white; /* red text color */
    text-decoration: none;
  }

  .top-nav ul li a:hover{
    color:red;
  }



  
  .in-content{
    display: list-item;
  }
  div{
    margin: 0;
  }
  
 

header {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #110f16; /* semi Black background */
  height: 19.6vh;
  z-index: 1;
  opacity: 1;
  margin-top: 0;
  padding-top: 0;
}


.top-nav {
  top: 8vh;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0; /* Remove margin-top */
}

.top-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

.top-nav ul li {
  display: inline-block;
  margin: 2vh;
}

/* Add this to remove margin-bottom from the navigation links */
.top-nav ul li a {
  margin-bottom: 0;
}

/* Add this to remove padding from the navigation links */
.top-nav ul li a {
  padding: 20px 15px; /* Adjust padding as needed */
}


/* Add this to remove margin-top from the content */


  
 


/* Center the cards horizontally */
.cards {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 120vh; /* Adjust this if you want a different height */
  padding:0%;
}

/* Limit the width of the cards to 80% */
.cards .container {
  width: 80%;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}


.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.postcard.dark {
  background-color: #18151f;
}


.postcard.t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 4rem;
}

.postcard .postcard__img {
  max-height: 18vh;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 2vw;
  height: 3vh;
  margin: 2vh 0;
  border-radius: 0.5vw;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  text-overflow:clip;
  text-align: justify;
  white-space: normal;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.4vh;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 1vw;
}

.postcard:hover .postcard__bar {
  width: 10vw;
}

@media screen and (min-width: 77vw) {
  .postcard {
      flex-wrap: inherit;
  }

  .postcard .postcard__title {
    padding-top: 0;
    margin-top: 0;
      font-size: 4rem;
  }

  .postcard .postcard__tagbox {
      justify-content: start;
  }

  .postcard .postcard__img {
      max-width: 30vw;
      max-height: 100%;
      transition: transform 0.3s ease;
  }

  .postcard .postcard__text {
      padding: 3rem;
      width: 100%;
  }

  .postcard .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 5.5vw;
  }

  .postcard:hover .postcard__img {
      transform: scale(1.2);
  }

  .postcard:nth-child(2n+1) {
      flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
      flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
      left: -1.2vw !important;
      transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
  }
}

@media screen and (min-width: 102.4vw) {
  .postcard .postcard__text {
      padding: 2rem 3.5rem;
  }

  .postcard .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 5.5vw;
  }

  .postcard.dark .postcard__text:before {
      background: #18151f;
  }

  .postcard.light .postcard__text:before {
      background: #e1e5ea;
  }
}





.front-card{
  font-size:3vh;
}
.card {
  margin: 5vh;
  position: relative;
  width: 30vw;
  height: 20vh;
  background-color: #18151f;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px red;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 4.8vw;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2vh;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {

  margin: 0;
  font-size: 2.4vh;
  color: #e6e6e6;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 1.4vh;
  color: #e6e6e6;
  line-height: 1.4;
}
 


  .wrapper{
    font-family: "Baloo 2", cursive;
    max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper span{
    font-size: 15vh;
    font-weight: bold;
    color: #4b4b4b;
    animation: lighting 3000ms alternate infinite ease;
}
.cards{
  overflow: scroll;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  height: 100vh;
}
body ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.container-py-4
{
  margin-left: 10vw;
  margin-top: 10vh;
  height: 87vh;
  width: 80vw;
  overflow: hidden;
  border-radius: 10px;
  
}

.card-img{
  margin: 0;
  display: inline-flex;
  margin-top: 2vh;
  margin-left: 5vw;
  justify-content: center;
  align-items: center;
}

.card-img > img{
  height:20vh;
  width: 20vw;
}

.card-img > img :hover{
  transform: scale(2);
}

.postcard{
  height:110vh;
  width: 80vw;
  overflow: hidden;
}








/* Add this to remove margin-top from the content */

.content {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #020d02;
  align-items: center;
  overflow: hidden;
}

/* Add this to remove margin from the cards */
.cards {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 120vh; /* Adjust this if you want a different height */
  padding: 0%;
}

.image-area{
  padding-left: 0vw;
  align-items: center;
  justify-content: center;
  display: inline-flex;

}

.postcard__preview-txt{
  white-space: wrap;
  font-family: 'Nova Square', sans-serif;
  margin-top: 2vh;
  height: 15vh;
  margin-left: 4vw;
  width: 85%;
}

.postcard-bar{
  height: 3vh;
}

article{
  display: block;
}

.image-area
{
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.img-wrapper
{
	width: 13vw;
	height: 23vh;
	position: relative;
	overflow: hidden;
  margin-inline: 3vw;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 40vh;
	width: 20vw;
	filter: grayscale(100%);
	transition: 1s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h4
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(40vh) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h4
{
	transform: perspective(40vh) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}


.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(80vh) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .1s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .3s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: .5s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}



.postcard .postcard__tagbox .deep-green.play:hover {
  background: #31b71c; /* Replace with your deep blue color code */
  color: black;
}

.deep-green .postcard__title:hover {
  color: #31b71c; /* Replace with your deep blue color code */
}

.deep-green .postcard__bar {
  background-color: #31b71c; /* Replace with your deep blue color code */
  height: 3vh;
}

.deep-green::before {
  background-image: linear-gradient(-30deg, rgba(0, 31, 63, 0.1), transparent 50%);
}

.deep-green:nth-child(2n)::before {
  background-image: linear-gradient(-30deg, rgba(0, 31, 63, 0.1), transparent 50%);
}

.deep-green .img-wrapper h4{
  background-color: #31b71c;
}

.deep-green .img-wrapper ul li i{
	color: #31b71c;
	background: rgba(255,255,255,0);
}







/* Border color Code */

.container-py-4.deep-green {
  color: #31b71c; /* Text color for the bright-red class */
  box-shadow: 0 0 10px 5px #31b71c, inset 0 0 10px 5px #31b71c; /* Glowing deep blue border */
}




.end-part {
  font-family: 'Carter One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  color: #ffffff;
}


.end-part a{
color: white;

}
.end-part a:hover{
color: red;
}
.end-part-container {
  display: flex;
  align-items: flex-start;
  
  width: 80%;
}

.redbar-vertical {
  width: 25vw;
  height: 40%;
  border-radius: 1vh;
  background-color: #bd150b; /* Add space between the vertical bar and content */
  z-index: 10;
}

.end-part-heading {
  font-size: 5vh;
}

.right-part {
  flex: 1;
  margin-left: -15%;
  text-align: center;
  font-size: 2.5vh;
}

.left-part {
  align-items: baseline;
  text-align: center;
  flex: 1;
  margin-right: -15%;
}
.end-part-content-right
{
  margin-top: 5%;
  line-height: 2.5;
  
}
.end-part-content-left

{
  
  margin-top: 5%;
  line-height: 2;
  font-size: 2.5vh;
}

.end-end{
  flex: none;
  text-align: center;
  color: aliceblue;
  margin-top: 5%;
}
.end-heading{
  font-size: 12vh;
  font-family: black_ops;
  display: inline-flex;
  font-style: italic;
}
.end-subheading{
  font-size: 6vh;
  margin-top: 6vh;
  margin-left: 2vh;
}

.end-heading:hover{
  color: red;
}
.end-phrase {
  font-size: 5vh;
  color: white;
  transition: flick 1s infinite;
  animation: flick 2s infinite; /* Add animation property for compatibility */
}

@keyframes flick {
  25%, 75% {
    color: #ffffff;
  }
  0%, 50%, 100% {
    color: #fff200;
  }
}
.social-media{
  color: white;
  font-size: 3vh;
}

.social-media{
  padding:3vh;
  text-align: center;
}
.social-media a{
  color:#fff;
  line-height:3vh;
  font-size:5vh;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-media a i{
  line-height:5vh;
  font-size:4vh;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-media a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  color: red;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}
.wrapper{  
  max-height: 90vh; /*changed to 90vh wrapper*/
display: flex;
align-items: center;
justify-content: center;
}
.wrapper span{
  font-size: 15vh;
  font-weight: bold;
  color: #4b4b4b;
  animation: lighting 3000ms alternate infinite ease;
}
@keyframes lighting{
  0%,85%{
      color: #4b4b4b;
      text-shadow: none;
  }
  100%{
      color:#fff200;
      text-shadow: 0 0 5px #fff200, 0 0 3px #ff9f1a;
  }
}
.wrapper span:nth-child(1){
  animation-delay: 300ms;
}
.wrapper span:nth-child(2){
  animation-delay: 600ms;
}
.wrapper span:nth-child(3) {
animation-delay: 900ms;
}
.wrapper span:nth-child(4) {
animation-delay: 1200ms;
}
.wrapper span:nth-child(5) {
animation-delay: 1500ms;
}
.wrapper span:nth-child(6) {
animation-delay: 1800ms;
margin-left: 20px;
}
.wrapper span:nth-child(7) {
animation-delay: 2100ms;
}
.wrapper span:nth-child(8) {
animation-delay: 2400ms;
}
.wrapper span:nth-child(9) {
animation-delay: 2700ms;
}
.wrapper span:nth-child(10) {
animation-delay: 3000ms;
}
.wrapper span:nth-child(11) {
animation-delay: 3300ms;
}
.wrapper span:nth-child(12) {
animation-delay: 3600ms;
}
.wrapper span:nth-child(13) {
animation-delay: 3900ms;
}


.redbar-end{
  margin-left: 20%;
  width: 60%;
  height: 0.3vh;
  border-radius: 0.5vw;
  transition: width 0.2s ease;
  background-color: #bd150b;
}

.img-wrapper{
  background-size: cover;
}
.card-img{
  background-size: cover;
}


.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-bottom: 10px; /* Add margin to separate images if needed */
}








.message{
  color: white;
  display: grid;
  font-size: 4vh;
  padding-top: 5vh;
  align-items: center;
  justify-content: center;
  place-content: center;
  place-items: center;
  font-family: 'Nova Square', sans-serif;
}

.message a{
  color:white;
}

.message a:hover{
  color: #55eb63;
}



.battery {
  position: relative;
  margin-top: 4% ;
  width: 80px;
  border: 5px solid rgba(255, 0, 0, 0.25);;
  height: 28px;
  border-radius: 3px;
  animation: full0 5s linear infinite;
}

.battery:hover{
  
}

.battery:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 25px;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  animation: full 5s linear infinite;
}



.battery:after {
  content: "";
  position: absolute;
  right: -12px;
  top: 5.9px;
  width: 5px;
  height: 15px;
  background-color: rgba(255, 0, 0, 0.25);
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  animation: full1 5s linear infinite;
}

@keyframes full {
  0% {
    width: 0%;
    background-color: red;
    border: rgba(255, 0, 0, 0.25);
  }
  25% {
    width: 24%;
    background-color: rgb(255, 111, 0);
    border: rgba(255, 157, 0, 0.25);
  }
  50% {
    width: 48%;
    background-color: yellow;
    border: rgba(255, 255, 0, 0.25);
  }
  75% {
    width: 72%;
    background-color: yellowgreen;
    border: rgba(145, 255, 0, 0.25);
  }
  100% {
    width: 96%;
    background-color: #55eb63;
    border: rgba(55, 255, 0, 0.25);
  }
}

@keyframes full1 {
  0% {
    background-color: red;
  }
  25% {
    background-color: rgb(255, 111, 0);
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: yellowgreen;
  }
  100% {
    background-color: #55eb63;
  }
}

@keyframes full0 {
  0% {
    border:5px solid red;
  }
  100% {
    border:5px solid #55eb63;
  }
}
.igvideo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.info{
  display: inline-block;
  color: white;
  font-family: "baloo 2";
  font-size: 18px;
}
.cpr{
  align-items: left;
}
.sdc{
  align-items: right;
}.info{
  display: inline-block;
  color: white;
  font-family: "baloo 2";
  font-size: 18px;
}
.cpr{
  align-items: left;
}
.sdc{
  align-items: right;
}

@media (max-width: 1100px) {
  body{
    width: 100%;
    width: fit-content;
    
  }
}
